body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:/Aniversario/Fotos/conozcanosFondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(2, 2, 2, 0.815);
}

header {
    background-color: rgba(41, 21, 21, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
}
p {
    color: white;
    /* Ajuste añadido: Color de texto blanco */
    font-size: 20px;
    /* Tamaño de fuente */
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;

}
 h3, h4 {
    color: white;
    text-align: center;
}
h2{
    color: rgb(194, 28, 28);
    text-align: center;
    text-decoration: overline rgb(255, 255, 255);
}
h5{
color:#fefefe;
text-align: center;
font-size: 20px;
background-color: #871818a7;
padding: 5px;
margin-left : 10%;
margin-right: 10%;
border-radius: 60px;
}

.contenedor {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 70%;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-align: center;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 23px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-top: 5px;
    background-color: rgba(180, 6, 6, 0.651);
    display: inline-block;
}

nav a:hover {
    background-color: #fff;
    color: #ee2929;
}

footer {
    color: white;
    text-align: left;
    width: 100%;
    padding: 2px 0;
    background-color: rgba(26, 24, 24, 0.8);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    bottom: 0; /* Coloca el footer en la parte inferior */
    left: 0;
    right: 0;

/*responsive*/
display: grid;
grid-template-columns: repeat(
    auto-fit, minmax(150px,1fr) 
);
gap: 16px;

}
nav#volver {
text-align: center; /* Centra horizontalmente el contenido */
margin-bottom: 5%; /* Ajusta la distancia moderada entre el nav y el footer */
margin-top: 8%;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 1, auto;
}

*{
    padding: 0;
    margin: 0;
}