body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(14, 13, 13, 0.831);
    background-image: url('C:/Aniversario/Fotos/DocumentosFnd.jpg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(16, 16, 16, 0.664);
    color: #fff;
    padding: 10px;
    text-align: center;

}

h5 {
    color: white;
    text-align: center;
}
h4{
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
h2 {
    color: rgb(210, 8, 8);
    text-align: center;
    text-decoration: overline white;
    padding-top: 1%;
  
}
.centrado {
    padding-top: 2%;
    /* Ajusta este valor según sea necesario */
    color: white;
    text-align: center;

}

p {
    color: white;
    /* Ajuste añadido: Color de texto blanco */
    font-size: 20px;
    /* Tamaño de fuente */
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;

}

nav {
    text-align: center;
    /* Centra el texto horizontalmente */
    margin-top: 23px;
    /* Espacio moderado arriba */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: inline-block;
    /* Hace que el enlace sea un bloque en línea */
    margin-top: 20px;
    /* Espacio moderado arriba */
    background-color: rgba(180, 6, 6, 0.651);
    ;
}

nav a:hover {
    background-color: #fff;
    color: #ee2929;
}



footer {
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2px 0;
    background-color: rgba(26, 24, 24, 0.8);
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: left;
    /* Centra horizontalmente el contenido */
    font-size: 14px;
}

/*TESTIMONIOS*/
.testimonios-container {
    column-count: 2;
    column-gap: 40px;
    /* Espacio entre columnas */
}

/* Estilos para cada testimonio */
.centro-testimonio {
    margin-bottom: 20px;
    break-inside: avoid;
    /* Evita que un testimonio se divida entre columnas */
}

/* Estilos para el título del testimonio */
.centro-testimonio h5 {
    color: white;
    font-size: 18px;
    text-align: center;
}

/* Estilos para el párrafo del testimonio */
.centro-testimonio p {
    color: white;
    font-size: 16px;
    text-align: justify;
    margin-top: 0;
}

.centro-testimonio img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    /* Margen inferior para separar la imagen del párrafo */
}

/* Estilos para el epígrafe del testimonio */
.centro-testimonio figcaption {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    /* Ajusta el espacio entre la imagen y el epígrafe */
}
nav#volver {
    text-align: center; /* Centra horizontalmente el contenido */
    align-items: end;
    align-content: end;
    margin-bottom: 5%; /* Ajusta la distancia moderada entre el nav y el footer */
}

*{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 1, auto;
}